
.containercss {
    background: #4D5561;

    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.3); 
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.3);
}



.headercss{
    background-color: rgb(151, 184, 221);
}

.titulocss{
    color: white;
    font-size: 30px;
    font-family: oswald, arial,Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
    display: flex;
  justify-content: center;
  align-items: center;
}



.icono{
    position:relative;
    display:block;
    justify-content: left;
    width: 320px;
    height: 100px;
    padding-bottom: 5px;

}

.container-md{
    background-color: #000000a8;
}
.nav {
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
    text-shadow: 2px 2px 0px #000000;
    background-color: #cfcfcf4f;
    display:inline;
    margin: 70px;
    border: #000000 10px;
    position:relative;
    
    
}

.nav::before{
display: inline-flex;
content: '';
width: 0px;
background: #ffffff00;
padding-right: 5px;
height:2px;
top:0;
position:absolute;
justify-content: center;
transition: 0.2s;

}

.nav:hover:before{
    display: inline-flex;
    content: '';
    width: 60px;
    background: #fafff873;
    padding-right: 5px;
    height:2px;
    top:0;
    position:absolute;
    justify-content: center;
    }


    



.aside {
    float: right;
        width: 300px;
        border: 3px solid #080808;
        padding: 10px;
        margin: 20px;
        right: 20%;

}









section{
    position: relative;
    background-color: #efffb4;
    width: 800px;
    height: 200px;
    border: 2px black solid;
    padding: 0px;
    margin: 5px;



}

section h1{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-style:italic;
    align-content: top;
    background-color: #ace2f0;
    float:inline-start;
    text-shadow: 0px 0px 2px #000000;
    padding-left: 10px;
}




article{
    position: relative;
    background-color: #ffffff;
    width: 800px;
    height: 200px;
    border: 2px black solid;
    padding: 0px;
    margin: 10px;
    

}




