.container {
    position: static;
    display:flex;
    
    border: 1px solid #126142;
    padding: 5px;
    justify-content: space-between;
    margin-top: -10px;
    background: #83b8b5;

}

.title {
    display: inline-flex;
    width:800px;
    height:100px;
    font-family:Arial, Georgia, 'Times New Roman', Times, serif;
    font-size:50px;
    color: #EDF3FF;
    justify-content: center;
    padding-left: 0px;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-right: 300px;
    margin: auto;
    border: 40px;
    float: left;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.3);

}


.icono{
    position: absolute;
    display:block;
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 0px;

}

.container-md{
    background-color: #000000a8;
}
.nav {
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
    text-shadow: 2px 2px 0px #000000;
    background-color: #cfcfcf4f;
    display:inline;
    margin: 70px;
    border: #000000 10px;
    position:relative;
    
    
}

.nav::before{
display: inline-flex;
content: '';
width: 0px;
background: #ffffff00;
padding-right: 5px;
height:2px;
top:0;
position:absolute;
justify-content: center;
transition: 0.2s;

}

.nav:hover:before{
    display: inline-flex;
    content: '';
    width: 60px;
    background: #fafff873;
    padding-right: 5px;
    height:2px;
    top:0;
    position:absolute;
    justify-content: center;
    }


    #pfp{
        float: right;
        width: 300px;
        border: 3px solid #080808;
        padding: 10px;
        margin: 20px;
        
    
    }






section{
    position: relative;
    background-color: #efffb4;
    width: 800px;
    height: 200px;
    border: 2px black solid;
    padding: 0px;
    margin: 5px;



}

section h1{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-style:italic;
    align-content: top;
    background-color: #ace2f0;
    float:inline-start;
    text-shadow: 0px 0px 2px #000000;
    padding-left: 10px;
}




article{
    position: relative;
    background-color: #ffffff;
    width: 800px;
    height: 200px;
    border: 2px black solid;
    padding: 0px;
    margin: 10px;
    

}




@media (max-width:900px){
    .container{
        width: 900px;
        height: 200px;
        position: absolute;
       display: flex;
    }
    .title{
       font-size: 45px;
       padding-left: 2px;
       padding-top: 2px;
       padding-bottom: 2px;
       padding-right: 2px;
       margin: 1px;
    }

    .icono{
        width: 30px;
        height: 30px;

    }
    nav{
        display: inline-flex;
        float:inline-end;
    }
}