.containercss {
    background: #4D5561;

    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.3); 
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.3);
}


.headercss{
    background-color: rgb(151, 184, 221);
}

.headercss-hab{
    background-color: rgb(151, 221, 180);
}

.headercss-cont{
    background-color: rgb(214, 221, 151);
}

.headercss-info{
    background-color: rgb(221, 151, 151);
}

.titulocss{
    color: white;
    font-size: 30px;
    font-family: oswald, arial,Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
    display: flex;
  justify-content: center;
  align-items: center;
}


.icono{
    position:relative;
    display:block;
    justify-content: left;
    width: 320px;
    height: 100px;
    padding-bottom: 5px;

}


.icon-pcb{
    padding: 10px;
    margin: 10px;
    float: left;
    width: 250px; 
    background-color: aliceblue;
    -webkit-box-shadow: 6px -5px 6px 0px rgba(0,0,0,0.24); 
box-shadow: 6px -5px 6px 0px rgba(0,0,0,0.24);
}

.icon-pcb2{
    padding: 10px;
    margin: 10px;  
    float: right;
    width: 250px;
    background-color: aliceblue;
    -webkit-box-shadow: 6px -5px 6px 0px rgba(0,0,0,0.24); 
box-shadow: 6px -5px 6px 0px rgba(0,0,0,0.24);
}

#li-a{
    background: #4d556148;
 
}

.audio{
    margin: 4px;
    width: 400px;
}

.section{
    text-align: center;
    margin: 0 auto;
    width: 600px;
    height: 325px;
    background-color: rgba(140, 167, 167, 0.712);
    padding: 20px;
    border-style: inset;
    /*Google Fonts*/
    font-family: Oswald;
    font-style: italic;
    color: azure;
    text-shadow: 4px 0px 0px rgba(0,0,0,0.4);
}



/* Media Queries*/
@media (max-width: 699px){
.section{
    background-color: black;

}
}

